In [87]:
import pandas as pd
import numpy as np

In [88]:
# Load the dataset
url = 'adult/adult.data'
column_names = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation',
                'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'income']
data = pd.read_csv(url , names=column_names, na_values=' ?')

# # Drop rows with missing values
# data = data.dropna()
data.head(2)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,NaN,NaN,77516,Bachelors,NaN,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50.0,Self-emp-not-inc,83311,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K

In [89]:
# Check for duplicate rows
duplicate_rows = data[data.duplicated()]

# Print duplicate row count
print("Duplicate Row Count:", len(duplicate_rows))

# Print duplicate rows
# print("Duplicate Rows:")
# print(duplicate_rows)

# Remove duplicate rows
data.drop_duplicates(inplace=True)
data.head(2)

Duplicate Row Count: 24

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,NaN,NaN,77516,Bachelors,NaN,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50.0,Self-emp-not-inc,83311,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K

In [90]:
# Impute missing values with the most frequent value (mode) for categorical features
for col in ['workclass', 'occupation', 'native-country']:
    data[col].fillna(data[col].mode()[0], inplace=True)
    
    # Impute missing values with the median for numerical features # Impute missing values with the median for numerical features   
for col in ['education-num', 'age']:
    data[col].fillna(data[col].median(), inplace=True)

# Drop rows with missing values in other columns
data.dropna(inplace=True)
data.head(2)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,37.0,Private,77516,Bachelors,10.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50.0,Self-emp-not-inc,83311,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K

In [91]:
category_counts = data.apply(lambda x: x.nunique())

print("Number of categories in each column:")
print(category_counts)

Number of categories in each column:
age                  73
workclass             8
fnlwgt            21648
education            16
education-num        16
marital-status        7
occupation           14
relationship          6
race                  5
sex                   2
capital-gain        119
capital-loss         92
hours-per-week       94
native-country       41
income                2
dtype: int64

In [92]:
from sklearn.preprocessing import LabelEncoder
# Encode categorical variables by replacing the categorical values with numerical labels
label_encoders = {}
for column in data.select_dtypes(include=['object']).columns:
    label_encoders[column] = LabelEncoder()
    data[column] = label_encoders[column].fit_transform(data[column])
    
# Split data into features and target
X = data.drop('income', axis=1)
y = data['income']

from sklearn.model_selection import train_test_split
# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

AttributeError: 'GaussianNaiveBayes' object has no attribute 'X_by_class'