In [394]:
import pandas as pd
import numpy as np

In [395]:
# Load the dataset
url = 'adult/adult.data'
url2 = 'adult/adult.test'
column_names = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation',
                'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'income']
data = pd.read_csv(url , names=column_names, na_values=' ?')
data2 = pd.read_csv(url2 , names=column_names, na_values=' ?')
data2 = data2.iloc[1:]
# # Concatenate the two DataFrames
# data1 = pd.concat([data, data2], ignore_index=True)

# # Drop rows with missing values
# data = data.dropna()
print(data)

        age          workclass  fnlwgt    education  education-num  \
0       NaN                NaN   77516    Bachelors            NaN
1      50.0   Self-emp-not-inc   83311    Bachelors           13.0
2      38.0            Private  215646      HS-grad            9.0
3      53.0            Private  234721         11th            7.0
4      28.0            Private  338409    Bachelors           13.0
...     ...                ...     ...          ...            ...
32556  27.0            Private  257302   Assoc-acdm           12.0
32557  40.0            Private  154374      HS-grad            9.0
32558  58.0            Private  151910      HS-grad            9.0
32559  22.0            Private  201490      HS-grad            9.0
32560  52.0       Self-emp-inc  287927      HS-grad            9.0

            marital-status          occupation    relationship    race  \
0            Never-married        Adm-clerical   Not-in-family   White
1       Married-civ-spouse     Exec-managerial         Husband   White
2                 Divorced   Handlers-cleaners   Not-in-family   White
3       Married-civ-spouse   Handlers-cleaners         Husband   Black
4       Married-civ-spouse      Prof-specialty            Wife   Black
...                    ...                 ...             ...     ...
32556   Married-civ-spouse        Tech-support            Wife   White
32557   Married-civ-spouse   Machine-op-inspct         Husband   White
32558              Widowed        Adm-clerical       Unmarried   White
32559        Never-married        Adm-clerical       Own-child   White
32560   Married-civ-spouse     Exec-managerial            Wife   White

           sex  capital-gain  capital-loss  hours-per-week  native-country  \
0         Male          2174             0              40   United-States
1         Male             0             0              13   United-States
2         Male             0             0              40   United-States
3         Male             0             0              40   United-States
4       Female             0             0              40            Cuba
...        ...           ...           ...             ...             ...
32556   Female             0             0              38   United-States
32557     Male             0             0              40   United-States
32558   Female             0             0              40   United-States
32559     Male             0             0              20   United-States
32560   Female         15024             0              40   United-States

       income
0       <=50K
1       <=50K
2       <=50K
3       <=50K
4       <=50K
...       ...
32556   <=50K
32557    >50K
32558   <=50K
32559   <=50K
32560    >50K

[32561 rows x 15 columns]

In [396]:
# Check for duplicate rows
duplicate_rows = data[data.duplicated()]

# Print duplicate row count
print("Duplicate Row Count:", len(duplicate_rows))

# Print duplicate rows
# print("Duplicate Rows:")
# print(duplicate_rows)

# Remove duplicate rows
data.drop_duplicates(inplace=True)
print(data)

Duplicate Row Count: 24
        age          workclass  fnlwgt    education  education-num  \
0       NaN                NaN   77516    Bachelors            NaN
1      50.0   Self-emp-not-inc   83311    Bachelors           13.0
2      38.0            Private  215646      HS-grad            9.0
3      53.0            Private  234721         11th            7.0
4      28.0            Private  338409    Bachelors           13.0
...     ...                ...     ...          ...            ...
32556  27.0            Private  257302   Assoc-acdm           12.0
32557  40.0            Private  154374      HS-grad            9.0
32558  58.0            Private  151910      HS-grad            9.0
32559  22.0            Private  201490      HS-grad            9.0
32560  52.0       Self-emp-inc  287927      HS-grad            9.0

            marital-status          occupation    relationship    race  \
0            Never-married        Adm-clerical   Not-in-family   White
1       Married-civ-spouse     Exec-managerial         Husband   White
2                 Divorced   Handlers-cleaners   Not-in-family   White
3       Married-civ-spouse   Handlers-cleaners         Husband   Black
4       Married-civ-spouse      Prof-specialty            Wife   Black
...                    ...                 ...             ...     ...
32556   Married-civ-spouse        Tech-support            Wife   White
32557   Married-civ-spouse   Machine-op-inspct         Husband   White
32558              Widowed        Adm-clerical       Unmarried   White
32559        Never-married        Adm-clerical       Own-child   White
32560   Married-civ-spouse     Exec-managerial            Wife   White

           sex  capital-gain  capital-loss  hours-per-week  native-country  \
0         Male          2174             0              40   United-States
1         Male             0             0              13   United-States
2         Male             0             0              40   United-States
3         Male             0             0              40   United-States
4       Female             0             0              40            Cuba
...        ...           ...           ...             ...             ...
32556   Female             0             0              38   United-States
32557     Male             0             0              40   United-States
32558   Female             0             0              40   United-States
32559     Male             0             0              20   United-States
32560   Female         15024             0              40   United-States

       income
0       <=50K
1       <=50K
2       <=50K
3       <=50K
4       <=50K
...       ...
32556   <=50K
32557    >50K
32558   <=50K
32559   <=50K
32560    >50K

[32537 rows x 15 columns]

In [397]:
# Impute missing values with the most frequent value (mode) for categorical features
for col in ['workclass', 'occupation', 'native-country']:
    data[col].fillna(data[col].mode()[0], inplace=True)
    
    # Impute missing values with the median for numerical features # Impute missing values with the median for numerical features   
for col in ['education-num', 'age']:
    data[col].fillna(data[col].median(), inplace=True)

# Drop rows with missing values in other columns
data.dropna(inplace=True)
data.head(2)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,37.0,Private,77516,Bachelors,10.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50.0,Self-emp-not-inc,83311,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K

In [398]:
category_counts = data.apply(lambda x: x.nunique())
#category_counts1 = data1.apply(lambda x: x.nunique())

print("Number of categories in each column:")
print(category_counts)
#print(category_counts1)

Number of categories in each column:
age                  73
workclass             8
fnlwgt            21648
education            16
education-num        16
marital-status        7
occupation           14
relationship          6
race                  5
sex                   2
capital-gain        119
capital-loss         92
hours-per-week       94
native-country       41
income                2
dtype: int64

In [399]:
from sklearn.preprocessing import LabelEncoder
# Encode categorical variables by replacing the categorical values with numerical labels
label_encoders = {}
for column in data.select_dtypes(include=['object']).columns:
    label_encoders[column] = LabelEncoder()
    data[column] = label_encoders[column].fit_transform(data[column])
    
# Split data into features and target
X = data.drop('income', axis=1)
y = data['income']

from sklearn.model_selection import train_test_split
# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [400]:
from sklearn.naive_bayes import GaussianNB
# Step 2: Model Training
# Train Naïve Bayes model
nb_model = GaussianNB()
nb_model.fit(X_train, y_train)

from sklearn.ensemble import RandomForestClassifier
# Train Random Forest model
rf_model = RandomForestClassifier(random_state=42)
rf_model.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [401]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
#Step 3: Model Evaluation
# Evaluate Naïve Bayes model
nb_pred = nb_model.predict(X_test)
nb_accuracy = accuracy_score(y_test, nb_pred)
print("Naïve Bayes Accuracy:", nb_accuracy)
print("Naïve Bayes Classification Report:\n", classification_report(y_test, nb_pred))
print("Naïve Bayes Confusion Matrix:\n", confusion_matrix(y_test, nb_pred))

Naïve Bayes Accuracy: 0.7913337430854334
Naïve Bayes Classification Report:
               precision    recall  f1-score   support

           0       0.81      0.94      0.87      4905
           1       0.65      0.33      0.44      1603

    accuracy                           0.79      6508
   macro avg       0.73      0.64      0.65      6508
weighted avg       0.77      0.79      0.76      6508

Naïve Bayes Confusion Matrix:
 [[4625  280]
 [1078  525]]

In [402]:
# Evaluate Random Forest model
rf_pred = rf_model.predict(X_test)
rf_accuracy = accuracy_score(y_test, rf_pred)
print("\nRandom Forest Accuracy:", rf_accuracy)
print("Random Forest Classification Report:\n", classification_report(y_test, rf_pred))
print("Random Forest Confusion Matrix:\n", confusion_matrix(y_test, rf_pred))

Random Forest Accuracy: 0.8598647818070068
Random Forest Classification Report:
               precision    recall  f1-score   support

           0       0.89      0.93      0.91      4905
           1       0.76      0.63      0.69      1603

    accuracy                           0.86      6508
   macro avg       0.82      0.78      0.80      6508
weighted avg       0.85      0.86      0.86      6508

Random Forest Confusion Matrix:
 [[4579  326]
 [ 586 1017]]

In [403]:
# Step 4: Model Comparison
print("\nModel Comparison:")
print("Naïve Bayes Accuracy:", nb_accuracy)
print("Random Forest Accuracy:", rf_accuracy)

Model Comparison:
Naïve Bayes Accuracy: 0.7913337430854334
Random Forest Accuracy: 0.8598647818070068